<div class="lesson-view-page">
  <div class="user-name">
    <h3><%= @user.name %></h3>
  </div>
  <div class="user-image lesson-view-container">
    <%= image_tag @user.image %>
  </div>

  <div class="user-content lesson-image-show">
    <p><%= @user.biography %></p>
  </div>

</div>

<!-- if viewing an instructor page, show all the lessons they teach -->
<% @lessons_as_instructor.each do |lesson| %>
  <p><h4><%= link_to lesson.title, "/lessons/#{lesson.id}"  %></h4></p>
  <p><h5><%= link_to "Edit lesson info", "/lessons/#{lesson.id}/edit"  %></h5></p>
  <!-- if instructor logged in and viewing their own show page display bookings -->
  <p><% if current_user && current_user == @user %>
    <% lesson.bookings.each do |booking| %>
      <%= booking.user.name %>, <button class="confirm-booking" data-id="<%= booking.id %>"><%= booking.status %></button>
    <% end %>
  <% end %>
<% end %>    </p>

<!-- if viewing your own user page, show all the classes you have booked -->
<h4>You are booked for the following courses:</h4>
<% if @bookings_as_client.empty? %>
  <p>You have not yet booked any lessons!</p>
<% else  %>
  <% @bookings_as_client.each do |booking| %>
    <p><%= link_to booking.lesson.title, "/lessons/#{booking.lesson.id}" %> Status: <%= booking.status %>
    <% if booking.status == "attended" %><%= link_to "Wrtie a review", new_review_path %><% end %></p>
  <% end %>
<% end %>

