<h2>I am the show.html.erb file for instructor</h2>

<div class="instructor-container">
  <div class="instructor-name">
    <h1><%= @user.name  %></h1>
  </div>

  <div class="instructor-image">
    <%= image_tag @user.image %>
  </div>

  <div class="instructor-content">
    <p><%= @user.biography %></p>
  </div>
  <% @lessons.each do |lesson|%>
    <% if lesson.instructor.id == @user.id %>
      <%= lesson.title %>
    <% end %>
  <% end %>
</div>

<% if current_user && current_user.id == @user.id %>
  <% if current_user.role == 'instructor' %>
    <div class = "instructor-bookings">
      <p>booking for individual instructor go here</p>
    </div>
  <% else %>
    <div>
      <% @user.lessons do |lesson|%>
          <%= lesson.title %>
      <% end %>
    </div>
  <% end %>
<% end %>