<div class="lesson-view-page">
  <div class="user-name">
    <h3><%= @user.name %></h3>
  </div>
  <div class="user-image lesson-view-container">
    <%= image_tag @user.image %>
  </div>

  <div class="user-content lesson-image-show">
    <p><%= @user.biography %></p>
  </div>

</div>

<div class="lesson-bookings-header">
  <strong>Bookings for your lessons:</strong>
  Click the buttons to confirm the student's booking, then once the class is over, click again to mark them as attended.  Only then will they be able to write you a review!
</div>
<div class="instructor-view-bookings">
<!-- if viewing an instructor page, show all the lessons they teach -->
<% @lessons_as_instructor.each do |lesson| %>
  <table class="table table-striped">
      <thead><h4><em><%= link_to lesson.title, "/lessons/#{lesson.id}"  %> - <%= link_to "edit", "/lessons/#{lesson.id}/edit"  %></em></h4>
          <tr>
              <th></th>
              <th>Client Name</th>
              <th>Booking Status</th>
          </tr>
      </thead>
      <!-- if instructor logged in and viewing their own show page display bookings -->
      <% if current_user && current_user == @user %>
        <tbody>
          <% lesson.bookings.each_with_index do |booking, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= booking.user.name %></td>
              <td><button class="confirm-booking" data-id="<%= booking.id %>"><%= booking.status %></button></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
  </table>
<% end %>
</div>



<!-- if viewing your own user page, show all the classes you have booked -->
<div class="lessons-booked-header">
  <strong>You are booked in for the following courses:</strong>
  Once the instructor approves you to attend, your status will change to "confirmed". Check back after attending the class and check for a link to write a review of the lesson!
</div>

<div class="view-lessons-booked">
  <% if @bookings_as_client.empty? %>
    <p>You have not yet booked any lessons!</p>
  <% else  %>
    <% @bookings_as_client.each_with_index do |booking, index| %>
    <table class="table table-striped">
        <thead><h4>
            <tr>
                <th></th>
                <th>Lesson</th>
                <th>Booking Status</th>
            </tr>
        </thead>

          <tbody>
              <tr>
                <td><%= index+1 %></td>
                <td><%= link_to booking.lesson.title, "/lessons/#{booking.lesson.id}" %><% if booking.status == "attended" %> <em><%= link_to "write review", new_review_path %></em><% end %></td>
                <td><%= booking.status %></td>
              </tr>
          </tbody>
    </table>
    <% end %>
  <% end %>
</div>

