<h2>I am the show.html.erb file for lessons</h2>
<div class="lesson-view-container">
  <ul>
    <li>Lesson title: <%= @lesson.title %></li>
    <li>Description: <%= @lesson.description %></li>
    <li>Instructor: <%= @lesson.instructor.name %></li>
    <li>Capacity: <%= @lesson.capacity %></li>
    <% if @lesson.capacity %>
      <li id="lesson-availability" data-avail="<%= @spaces_left %>">Available space left: <%= @spaces_left %></li>
    <% end %>
    <% if current_user %>
        <% unless @booking.empty? %>
          <li>Registration status: <%= @status %></li>
        <% end %>
      </ul>
      <% if @booking.empty? && @lesson_has_space%>
        <button id="apply-to-join" data-id="<%= @lesson.id %>" data-user="<%= @user.id %>">Apply to join now</button>
      <% end %>
    <% end %>
</div>