
<div class="lesson-view-page">
  <div class="lesson-view-container">

    <h2><%= @lesson.title %></h2>

    <% if @spaces_left == 0 %>
      <h4>This class is fully booked! Go <%= pnk_to "back", lessons_path %> to view other lessons</h4>
    <% end %>

      <p><strong>Description:</strong> <%= @lesson.description %></p><br>
      <p><strong>Instructor:</strong> <%= @lesson.instructor.name %></p><br>
      <p><strong>Capacity:</strong> <%= @lesson.capacity %></p><br>
      <p><strong>Date:</strong> <%= Date::MONTHNAMES[@lesson.date.month] %> / <%= @lesson.date.day %> / <%= @lesson.date.year %></p><br>
      <p><strong>Time:</strong> <%= @lesson.start_time.hour %>:<%= @lesson.start_time.min %> - <%= @lesson.end_time.hour %>:<%= @lesson.end_time.min %></p><br>
      <% if current_user %>
        <% unless @booking.empty? %>
          <p>Your registration status: <%= @status %></p>
        <% end %>
      <% end %>

    <% if current_user %>
      <% if @booking.empty? %>
        <button id="apply-to-join" data-id="<%= @lesson.id %>" data-user="<%= @user.id %>">Apply to join now</button>
      <% end %>
    <% end %>
  </div>
  <div class="lesson-image-show">
    <%= image_tag "https://s3-eu-west-1.amazonaws.com/fitnessproject/slide4.jpg" %>
  <div class="placeholder-lesson-image"><%=  %></div>
</div>
