<div class="lesson-view-container">

  <h2><%= @lesson.title %></h2>

  <% if @spaces_left == 0 %>
    <h4>This class is fully booked! Go <%= link_to "back", lessons_path %> to view other lessons</h4>
  <% end %>

  <ul id="lesson-view-ul">
    <li>Description: <%= @lesson.description %></li>
    <li>Instructor: <%= @lesson.instructor.name %></li>
    <li>Capacity: <%= @lesson.capacity %></li>
    <% if current_user %>
      <% unless @booking.empty? %>
        <li>Your registration status: <%= @status %></li>
      <% end %>
    <% end %>
  </ul>
  
  <% if current_user %>
    <% if @booking.empty? %>
      <button id="apply-to-join" data-id="<%= @lesson.id %>" data-user="<%= @user.id %>">Apply to join now</button>
    <% end %>
  <% end %>

</div>