<div class="lesson-view-container">
  <h2><%= @lesson.title %></h2>
  <ul>
    <li>Description: <%= @lesson.description %></li>
    <li>Instructor: <%= @lesson.instructor.name %></li>
    <li>Capacity: <%= @lesson.capacity %></li>
    
    <% if @lesson.capacity %>
      <li id="lesson-availability" data-avail="<%= @spaces_left %>">Available space left: <%= @spaces_left %></li>
    <% end %>
  </ul>
  
    <% if current_user %>
        <% unless @booking.empty? %>
          <li>Registration status: <%= @status %></li>
        <% end %>
  
      <% if @booking.empty? && @lesson_has_space%>

      <li id="lesson-availability" data-avail="<%= @space_left %>">Available space left: <%= @space_left %></li>
    <% end %>
    <% if current_user %>
        <% if @no_booking == false %>
          <li>Registration status: <%= @status %></li>
        <% end %>
      </ul>
      <% if @no_booking %>
        <button id="apply-to-join" data-id="<%= @lesson.id %>" data-user="<%= @user.id %>">Apply to join now</button>
      <% end %>
    <% end %>
    <% end %>
</div>