
<div class="category-container">
  <div class="header_container">
    <h1 class="categories_header"><%= @category.name %></h1></div>
    <div class="banner" style="
    background-image: url(<%=@category.image %>);
    background-size: cover;
    width: 100%;
    height: 80%;
    position: fixed;
    top: 100px;
    background-color: #707070;
    "
    >
    </div>
    <div class="lessons-container">
    <p><%= @category.description %></p>
      <% @category.lessons.each do |x| %>
      <div class="lesson-box">
        <h4> <%=x.title  %></h4>
        <p>Instructor: <%=x.instructor.name  %> </p>
        <%= link_to "more info", lesson_path(x) %>
      </div>
      <% end %>
    </div>
  </div>

